
*{
    font-family: "Segoe UI",Arial,sans-serif;
    margin: 0;
    padding: 0;
    border: none; 
}

#buttonlogin {
    border: none; 
    cursor: pointer;
    width: 78px;
    height: 34px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color:#4CAF50;
    transition-duration: 0.4s;
  }

#buttonlogin:hover {
    background-color: #469c4b; /* Green */
    color: white;
}
.w3-bar{
    background-color: gray;
    height: 44px;
    display: flex;
    align-items: center;
}
.w3-bar-item{
    /* height: 40px; */
    font-size: 18px;
    /* font-weight: light; */
    color: white;
    background-color: gray;
    padding: 8px 17px;

}
.w3-bar-item:hover{
    background-color: black;
}
#sidebar{
    width: 17%;
    height: 600px;
    overflow-y: scroll;
    background-color: whitesmoke;
    max-width: 20%;
    
}
.w3-sidebar{
    font-size: 17px;
    display: block;
    align-items: center;
    padding-left: 20px;
    transition-duration: 0.2s;
}
.w3-sidebar:hover{
    background-color: gray;
}
#main{
    display: flex;
}
#body{
    width: 66%;
}
#rightsidebar{
    width: 17%;
}